# Npm + Yarn
node_modules/
npm-debug.log
yarn-error.log

# Laravel files
.env
public/hot/
public/storage/
storage/*.key
storage/debugbar/

# Composer
vendor/

# Homestead
Homestead.json
Homestead.yaml

# PhpUnit
.phpunit.result.cache

# PhpStorm
.idea/
.phpstorm.meta.php
_ide_helper.php
